<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552842367236-ckcgpnk4mt1u0frcsv0l2frmsjhes07h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552842367236-ckcgpnk4mt1u0frcsv0l2frmsjhes07h</string>
	<key>API_KEY</key>
	<string>AIzaSyBneT_vrIzliMSn7XbH1Pz7IJt0y4VJPU0</string>
	<key>GCM_SENDER_ID</key>
	<string>552842367236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.Chu.Frank.Increment</string>
	<key>PROJECT_ID</key>
	<string>increment-53e74</string>
	<key>STORAGE_BUCKET</key>
	<string>increment-53e74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552842367236:ios:db74f527a611f615f1c051</string>
</dict>
</plist>